<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myshop">

    <application
        android:allowBackup="true"
        android:icon="@drawable/cart"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cart"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyShop">
        <activity
            android:name=".DrinkActivity"
            android:exported="false" />
        <activity
            android:name=".MeatActivity"
            android:exported="false" />
        <activity
            android:name=".SnackActivity"
            android:exported="false" />
        <activity
            android:name=".ClothActivity"
            android:exported="false" />
        <activity
            android:name=".VegetableActivity"
            android:exported="false" />
        <activity
            android:name=".FruitActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>